<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shan.reservation.mapper.foodUtilMapper" >
    <resultMap id="BaseResultMap" type="com.shan.reservation.bean.food" >
        <constructor >
            <idArg column="food_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="restaurant_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="food_price" jdbcType="DOUBLE" javaType="java.lang.Double" />
            <arg column="food_bargain" jdbcType="DOUBLE" javaType="java.lang.Double" />
            <arg column="food_name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="food_describe" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="sales" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="food_image" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="cumulative_evaluation" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="score" jdbcType="DOUBLE" javaType="java.lang.Double" />
            <arg column="food_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
        </constructor>
    </resultMap>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
       select * from food WHERE food_name= #{foodName,jdbcType=VARCHAR}
    </select>
    <update id="shopUpdateFood" parameterType="com.shan.reservation.bean.orderExample" >
     update food SET food_name=#{foodName,jdbcType=VARCHAR},food_bargain= #{foodBargain,jdbcType=DOUBLE},food_price= #{foodPrice,jdbcType=DOUBLE},
      category_id=#{categoryId,jdbcType=INTEGER}, food_describe= #{foodDescribe,jdbcType=VARCHAR}, stock=#{stock,jdbcType=INTEGER},food_state= #{foodState,jdbcType=INTEGER}
      WHERE food_id=10
    </update>
</mapper>