<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shan.reservation.mapper.orderUtilMapper" >
    <resultMap id="BaseResultMap" type="com.shan.reservation.bean.order" >
        <constructor >
            <idArg column="orderId" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="orderNo" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="restaurantId" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="isPay" jdbcType="TINYINT" javaType="java.lang.Byte" />
            <arg column="isAppraise" jdbcType="TINYINT" javaType="java.lang.Byte" />
            <arg column="isRefund" jdbcType="TINYINT" javaType="java.lang.Byte" />
            <arg column="deliverMoney" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
            <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="deliveryTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="receiveTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="orderState" jdbcType="TINYINT" javaType="java.lang.Byte" />
            <arg column="orderRemarks" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="address_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
        </constructor>
    </resultMap>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="com.shan.reservation.bean.orderExample" >
       select * from `order` WHERE userId =#{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByNo" parameterType="com.shan.reservation.bean.orderExample" >
        delete  from `order` where  orderNo=#{orderNo,jdbcType=VARCHAR}
    </delete>
    <update id="updateByNo" parameterType="com.shan.reservation.bean.orderExample" >
       update `order` SET orderstate=-1 WHERE orderNo=#{orderNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByNo2" parameterType="com.shan.reservation.bean.orderExample" >
       update `order` SET orderstate=1 WHERE orderNo=#{orderNo,jdbcType=VARCHAR}
    </update>
    <insert id="insert" parameterType="com.shan.reservation.bean.order" >
    insert into `order` (orderNo, userId,
      restaurantId, price,
      createTime,
      orderState,address_id )
    values ( #{orderno,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER},
      #{restaurantid,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL},
      #{createtime,jdbcType=TIMESTAMP},
      #{orderstate,jdbcType=TINYINT},#{addressId,jdbcType=INTEGER})
  </insert>
    <select id="selectOrder" resultMap="BaseResultMap" parameterType="com.shan.reservation.bean.orderExample" >
       select * from `order` WHERE orderNo =#{orderNo,jdbcType=VARCHAR}
    </select>

</mapper>